<app-template-full-width [title]="title" *ngIf="col$ | async as col">
  <button (click)="translateFr()">Translate title fr</button>
  <!-- {{ col | json }} -->
  <app-table-light [headers]="headers">
    <tr #line *ngFor="let item of col" (click)="test()">
      <td>{{ item.typePresta }}</td>
      <td>{{ item.client | uppercase }}</td>
      <td>{{ item.nbJours }}</td>
      <td>{{ item.tjmHt | currency }}</td>
      <td>{{ item | total: false }}</td>
      <td>{{ item | total: true }}</td>
      <td [appState]="item.state">
        <select (change)="changeState(item, $event)">
          <option *ngFor="let state of states" [value]="state" [selected]="item.state === state">{{ state }}</option>
        </select>
      </td>
    </tr>
  </app-table-light>

  <app-btn label="Add Order" route="add"></app-btn>
  <app-btn label="CoderbaseIT" hrefLink="http://coderbase.io"></app-btn>
  <app-btn label="Open PopUp" [action]="true" (clicked)="openPopUp()"></app-btn>

</app-template-full-width>

